header {
  background-color: $color-4;
  width: calc(100% - 2px);

  color: $color-2;
  font-weight: bold;
  padding: 0 0.25em;
  z-index: 1;
  @include flex-align(row, space-between, baseline);
  h1 {
    font-size: 40px;
    text-transform: uppercase;
  }
  .logout {
    @include flex-align(row, space-between, baseline);
    &__name {
      margin-right: 5px;
    }
    &__btn {
      background-color: $color-4;
      border: none;
      color: $color-2;

      cursor: pointer;
      &:hover {
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
}
