main {
    width: 100%;
    @include flex-align(row);
    flex-wrap: wrap;
}

.upper-container {
    width: 80%;
    @include flex-align(row, center);
    flex-wrap: wrap;

    &__inside {
        @include box-decoration;
        min-width: 250px;
        min-height: 150px;
        flex: 0 0 30%;
    }
}

.bottom-container {
    width: 80%;
    @include flex-align(row, center, start);
    flex-wrap: wrap;
    &__inside {
        min-width: 250px;
        flex: 0 0 45%;
    }
    &__inside > * {
        @include box-decoration;
    }
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    li {
        @include box-decoration;
    }
    &__title {
        @include box-decoration;
    }
}

button {
    cursor: pointer;
    width: 60px;
    height: 25px;
    margin: 5px;
    border-radius: 5px;
}
