.enclosureBlock {
    @include flex-align(column);
    position: relative;
    // height: 100px;
    // width: 160px;
    border: 1px solid $color-2;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;

    h3 {
        color: $color-2;
    }

    &__container {
        @include flex-align(row);
        &__specie {
            @include flex-align(column);
            border: 1px solid $color-2;
            border-radius: 5px;
            margin: 5px;
            padding: 5px;
            ul {
                @include flex-align(row);
                flex-wrap: wrap;
                li {
                    margin: 5px;
                    label {
                        margin-left: 5px;
                    }
                }
            }
            button {
                width: 60px;
                height: 25px;
                margin: 5px;
                cursor: pointer;
            }
        }
        &__inoutBtn {
            @include flex-align(row);
        }
    }
}
