@import "./settings.scss";
@import "./components/loginBox.scss";
@import "./components/Header.scss";
@import "./pages/app.scss";
@import "./pages/homePage.scss";
@import "../styles/pages/loginPage.scss";
@import url("https://cdn.syncfusion.com/ej2/material.css");
@import "./pages/eventsPage.scss";
@import "./pages/actionsPage.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// main {
//     min-height: 100vh;
// }
